html {
    scroll-snap-type: y mandatory;
}

.home {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.home_videos {
    position: relative;
    height: 800px;
    border-radius: 20px;
    overflow: scroll;
    width: 60%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}
/*max-width: 80%;     add this for portrait videos*/ 


/* Hide scrollbar for all browsers */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  *::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
